<div class="container">

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Your online Turing to C++ compiler!</h1>
            <p class="fs-4">
                You are a CS theory nerd, but finally want to write efficient programs?
            </p>
            <p class="fs-3">
                Your solution is here!
            </p>
            <p class="fs-4">
                Specify your program as a formal Turing Machine, and compile it to efficient C++ code!
                Working on every platform, integrable with any other program.
                No installation required.
            </p>
            <a class="btn btn-primary btn-lg" href="/machine/new">Create new Machine</a>
        </div>
    </div>

</div>